* {
  margin: 0; 

}

.App {
  background-color: #fafafa;
   
}

.app_headerImage {
  object-fit:contain;
    width: 100px;
    height: 50px;
}
.app__header {
  background-color: white;
  padding: 5px; 
  object-fit: contain;
  border-bottom: 1px solid lightgray;
}

